<div class="footer">
  <div class="footer-content">
    <div class="footer-col-1">
      <div class="footer-col-title">
        <i style="color:white; margin-right:10px;" class="fas fa-users-cog"></i>
        Developed by
      </div>
      <p style="margin:0; padding:0;">
      the <a href="http://www.russelllab.org/" style="color: white;">Russell Lab</a>.
      </p>

    </div>

    <div class="footer-col-2">
      <div class="footer-col-title">
        <i style="color:white; margin-right:10px;" class="fas fa-envelope"></i>
        Contact
      </div>
      <div style="font-style: italic;">
        magdalena.georgieva@bioquant.uni-heidelberg.de
        <br>
        robert.russell@bioquant.uni-heidelberg.de
      </div>
    </div>
    <!-- <br> -->
  </div>

  <div class="footer-imgs">
    2022, Heidelberg University.<br>
    <a href="https://www.scils.eu/">
      <img
        src="{{ url_for('static',filename='images/scils-logo.png') }}"
        width="150" height="55"
        style="padding-right: 15px;"
      />
    </a>
    <img
      src="{{ url_for('static',filename='images/universitat-heidelberg-logo.png') }}"
      width="150" height="150"
    />
    <img
        src="{{ url_for('static',filename='images/european-commission-logo.png') }}"
        width="180" height="80"
        style="padding-left: 15px;"
      />
  </div>
</div>